.main{
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
}

.arrow-section{
  display: flex;
  align-items: center;
}

.arrow-section h4{
  font-size: 24px;
  font-weight: 500;
  color: rgba(32, 33, 35, 1);
}

/* .arrowBackIcon{
  height: 20%;
  width: 20%;
  padding: 20px;
} */

.hr{
  color: gray;
  margin: 0px 20px;
}

.add-image-division{
  font-weight: 400;
  font-size: 18px;
  padding:0px;
  /* border: 2px solid rgba(250, 164, 60, 1); */
}

#main-warehouse{
background-color: white;
}

.uploadBox{
  margin-top: 5%;
  margin-left: 15px;
  width: 50%;
  height: 42%;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 0px;
  font-size: 17px;
}

#fileUpload{
  display: none;
}

.cloudUpload{
  /* border: 2px solid rgba(0, 0, 0, 0.315); */
  border-radius: 10px;
  background-color: rgba(250, 164, 60, 1);
  padding: 7px;
}

.upload-button{
  border: 2px solid rgba(250, 164, 60, 1);
  padding: 4px 20px;
  border-radius: 18px;
  cursor: pointer;
}

.createdivision-inputfield{
  /* border: 2px solid rgb(207, 207, 27); */
 width: 80%;  
 /* border-radius: 50px; */
 /* margin: 20px 200px 0px 20px; */
}

.createdivision-inputfields {
  /* border: 2px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.createdivision-inputfield label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
  margin-left: 2px;
}

.createdivision-inputfield input, 
.createdivision-inputfield select {
  /* width: 100%; */
  height: 60px;
  padding: 5px;
  width: 98%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
}

.buttons{
  padding: 10px;
  display: flex;
  margin-top: 20px;
}

.cancel-button, .add-button{
  padding: 10px 30px;
  height: 50px;
  width: 230px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.cancel-button{
  background-color: rgba(214, 210, 210, 1);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-right: 8px;

}

.add-button{
  font-size: 16px;
  background-color: #f7a43c;
  color: white;
  margin-left: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}

.add-img-class{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 95%;
  margin-left: 10px;
}


.remove-button{
  border: none;
  margin: 8px;
  font-size: 14px;
  background-color: rgb(118, 112, 112);
  color: white ;
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
}