.main{
  /* border: 2px solid blue; */
  height: auto;
}
.content{
  display: flex;
  /* border: 2px solid rgb(224, 134, 30); */
  gap: 1;
  

}

.Layout-content-section1 {
  /* border: 2px solid rgb(21, 172, 147); */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); */
  margin: 5px;
  height: 150vh;


}

.Layout-content-section2 {
  /* border: 2px solid rgb(97, 161, 36); */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  height: 130vh;
  margin: 5px;
  padding: 10px;
  height: 150vh;
  border-radius: 10px;
  flex: 1;
  display: flex;
  overflow-y: auto;

}